<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description"
    content="Saathi was started with the belief that an equitable and non-exploitative society can only be created by empowering vulnerable communities so that they can live a life of dignity. To achieve this, it is vital to help the communities realise its strengths to drive the change toward constructive development. Keeping this in mind, Saathi Samaj Sevi Sanstha was established under the Madhya Pradesh Society Act in 1993.">
  <meta name="keywords"
    content="Vulnerable communities, Empowerment, Equitable society, Non-exploitative Life of dignity, Constructive development, Strengths, Change, Saathi Samaj Sevi Sanstha, Madhya Pradesh Society Act 1993">
  <meta name="author" content="Saathi Samaj Sevi Sanstha">
  <title>Saathi | About</title>

  <!-- FAVICON -->
  <link rel="icon" type="image/png" href="img/Saathi_logo.png">

  <!-- Bootstrap 5 CDN Links -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- Custom css Link -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bastar.css">

  {{!-- changes --}}
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="css/network&partner.css">
</head>

<body>

  <!-- Navbar section -->
  <header class="header_wrapper">
    <nav class="navbar navbar-expand-lg ">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="img/Saathi_logo.png" class="d-none d-lg-block w-75 h-100 img-fluid" alt="logo" />
          <img src="img/Saathi_logo.png" class="d-lg-none d-md-block w-50 h-100 img-fluid" alt="logo" />
        </a>

        <button class="navbar-toggler pe-0 text-align-center" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <i class="fas fa-stream navbar-toggler-icon"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <ul class="navbar-nav menu-navbar-nav">
            <li class="nav-item dropdown d-none d-lg-block">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                OUR WORK
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/ourApproach">OUR APPROACH</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/ourProjects">OUR PROJECTS</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/network&Partner">NETWORK &amp; PARTNERS</a>
                </li>
              </ul>
            </li>

            <li class="nav-item d-lg-none d-md-none">
              <a class="nav-link" href="/ourApproach">OUR APPROACH</a>
            </li>

            <li class="nav-item d-lg-none d-md-none">
              <a class="nav-link" href="/ourProjects">OUR PROJECTS</a>
            </li>

            <li class="nav-item d-lg-none d-md-none">
              <a class="nav-link" href="/network&Partner">NETWORK &amp; PARTNERS</a>
            </li>
            <!-- -------BASTAR PAGE CHALU KRNA RAHEGA BAAD MEI---- -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="/bastar">BASTAR</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link active" href="/about">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/story">STORY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT</a>
            </li>
          </ul>
          <form class="d-flex justify-content-center">
            <button class="btn main-btn btn-edit-home" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              SUPPORT US
            </button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <!-- Navbar section exit -->

  <!-- Banner section -->
  <section class="container-fluid bg-skin">
    <div class="row py-3">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="title-box text-center">
          <!-- <h6 class="fs-6 text-black">Quando un titolo è ciò che serve</h6> -->
          <h1 class="fs-3 fw-bold text-brown">“Nyaay ka widhan ho sabka haq saman ho <br />
            sabki apni ho jamin sabka asaman ho”
          </h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner section exit -->

  <!-- section 2-->
  <!-- <section class="container-fluid mt-2">
    <div class="row justify-content-between align-items-center">
      <div class="col-2"></div>
      <div class="col-md-4 col-sm-12">
        <h6 class="fs-6 text-red">Missing title </h6>
        <h3 class="fs-4 fw-bold">Our Vision</h3>
        <p class="fs-6 text-black">Saathi envisions creating an exploitation-free, sustainable and self-sufficient rural community. </p> -->
  <!-- <p class="fs-6 text-black">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
          doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
          quasi.</p> -->
  <!-- </div>
      <div class="col-md-5 col-sm-12">
        <img src="./img/third.png" alt="" class="img-fluid">
      </div>
      <div class="col-1"></div>
    </div> -->
  </section>
  <!-- section 2 -->
  <!-- SECTION 2 -->
  <div class="container">
    <div class="row" style="margin-top: 2rem;">
      <div class="col-lg-12">
        <div class="title-box text-center">
          <h1 class="fs-1 text-red" style="font-family: 'Great Vibes', cursive">
            the rural friend
          </h1>
          <h2 class="fs-4 text-black">Saathi Samaj Sevi Sanstha</h2>
        </div>
      </div>
    </div>

    <!-- <div class="row justify-content-between align-items-center pb-2"> -->
    <!-- <div class="col-lg-5 col-sm-12 text-center">
        <img src="./img/samaj-sevi.png" alt="" class="img-fluid" />
      </div> -->

    <div class="col-lg-6 col-sm-12 pt-1" id="saathi-intro-para">
      <p class="text-black" style="text-align: center;">
        Saathi is a non-governmental organisation working with the vulnerable communities of Bastar, Chhattisgarh, in
        helping them live a life with dignity. It focuses on issues of craft-based livelihoods, health, education, and
        accessibility to essential services in the Left Wing Extremism (LWE)-affected regions. We primarily began by
        addressing the exploitation faced by the artisan communities on multiple levels. With time, our work has spread
        across various themes depending on the community’s critical needs.
      </p>
      <!-- <p class="text-black">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
          quae ab illo inventore veritatis et quasi.
        </p> -->
      <!-- <a href="/about" class="btn general-btn" id="about-us-section-index-page">Read More</a> -->
    </div>
    <!-- </div> -->
  </div>
  <!-- SECTION 2 END -->
  <!-- section 3 -->
  <section class="container-fluid mt-2">
    <div class="row justify-content-between align-items-center" style="margin-top: 2rem;">
      <div class="col-2"></div>

      <div class="col-md-4 col-sm-12">
        {{!-- <a href="/gallery"> --}}
          <img src="./img/website photos share/website photos/_DSC5715.JPG" alt="" class="img-fluid">
          {{!-- </a> --}}
      </div>

      <div class="col-md-4 col-sm-12 " style="margin-top: 2rem;">
        <h3 class="fs-4 fw-bold">Our Vision &amp; Mission</h3>
        <p class="fs-6 text-black">Saathi envisions creating an exploitation-free, sustainable and self-sufficient rural
          community.
        </p>
        <p class="fs-6 text-black">To work towards a society where poor and landless people can earn a dignified living
          out of their traditional livelihood systems.
          At Saathi, we realise that empowerment is a multi-pronged approach. So we expanded our horizons and started
          focusing on the holistic development of communities.
        </p>
      </div>
      <div class="col-2"></div>
    </div>
  </section>
  <!-- section 3 -->


  <!-- section 4 -->
  <section class="container-fluid mt-2" id="our-history-about-us">
    <div class="row justify-content-between align-items-center">
      <div class="col-2"></div>
      <div class="col-md-5 col-sm-12 try mt-2">
        {{!-- <a href="/gallery"> --}}
          <img src="./img/website photos share/website photos/working together.JPG" alt="" class="img-fluid">
          {{!-- </a> --}}
      </div>
      <div class="col-md-4 col-sm-12 ">
        <!-- <h6 class="fs-6 text-red">Missing title </h6> -->
        <h3 class="fs-4 fw-bold" style="margin-top:3rem;">Our History</h3>
        <p class="fs-6 text-black">‘Saathi’ was born when three young people Bhupesh Tiwari, Late Bhupendra Banchhore
          and Harilal Bharadwaj, met while they were studying together in Gramoday Sangh, Bhadrawati, Maharashtra.
          During their studies, they embarked on a journey across India, where they realised that artisans with
          remarkable skills lacked respect and were not paid according to their skill sets. This eventually forced
          artisans to adopt other means of livelihood to earn their living, which not only a massive loss of their
          creative potential but also leaves them more vulnerable to exploitation.</p>
        <p class="fs-6 text-black"> Thus, with this realisation and the social work ideals of their Guru, Late Shri S.K
          Mirimira, Dr SN Subbarao and the ideology of Mahatma Gandhi and J.C Kumarappa, they stepped up for the
          empowerment of artisans. This brought them to Bastar and after five years of groundwork and trust-building
          with the community, they formed Saathi. At the heart of the movement was the idea of friendship. The bond that
          not only shared amongst themselves but wished to share with the community of Bastar and eventually help them
          to elevate their lives.
        </p>
        <a href="/annualreports" class="btn general-btn">DOWNLOAD THE STATUTE</a>
      </div>
      <div class="col-md-5 col-sm-12 try_new mt-2">
        {{!-- <a href="/gallery"> --}}
          <img src="./img/website photos share/website photos/working together.JPG" alt="" class="img-fluid">
          {{!-- </a> --}}
      </div>
      <div class="col-1"></div>
    </div>
  </section>
  <!-- section 4 -->


  <!-- section 5 -->

  <section class="container-fluid bg-skin">
    <div class="row pt-3">
      <div class="col-lg-12">
        <div class="title-box text-center">
          <h6 class="fs-1 text-brown" style="font-family: 'Great Vibes', cursive">Guiding Lights of</h6>
          <h1 class="fs-3 fw-bold">Values</h1>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h1 class="fs-3 fw-bold">Transparency</h1>
          </div>
          <div class="col-lg-6 col-sm-12">
            <h6 class="fs-6">
              We are transparent about our values and policies, our failures and mistakes and openly share our ideas and
              knowledge and financial statement with all internal and external stakeholders.
            </h6>
          </div>
        </div>

        <div class="vertical-line" style="height: 5px;"></div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h1 class="fs-3 fw-bold">Accountability</h1>
          </div>
          <div class="col-lg-6 col-sm-12">
            <h6 class="fs-6">
              We deliver what we have promised. We take responsibility for our own actions and outcomes. We are
              responsible for ourselves, the organization and all stakeholders in community fairness. We put in the time
              and resources required to make a just and equitable decision for all.
            </h6>
          </div>
        </div>
        <div class="vertical-line" style="height: 5px;"></div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h1 class="fs-3 fw-bold">Integrity</h1>
          </div>
          <div class="col-lg-6 col-sm-12">
            <h6 class="fs-6">
              We are committed to honesty, accountability and transparency in all our endeavours.
            </h6>
          </div>
        </div>
        <div class="vertical-line" style="height: 5px;"></div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h1 class="fs-3 fw-bold">Inclusiveness</h1>
          </div>
          <div class="col-lg-6 col-sm-12">
            <h6 class="fs-6">
              We will work with everyone regardless of race, gender, age, creed or nationality, colour, political
              affiliation, gender or belief.
            </h6>
          </div>
        </div>
        <div class="vertical-line" style="height: 5px;"></div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h1 class="fs-3 fw-bold">Gender Sensitivity</h1>
          </div>
          <div class="col-lg-6 col-sm-12">
            <h6 class="fs-6">
              Ensuring gender differences are taken into account at all levels in policies, programs and behaviours and
              strengthening the process of social inclusion.
            </h6>
          </div>
        </div>
        <div class="vertical-line" style="height: 5px;"></div>
      </div>
    </div>

    <div class="statistics-numbers-parent">
      <div class="years-stats stats-common">
        <div class="title-stats fs-2">
          35+
        </div>
        <div class="verticalLine"></div>
        <div class="title-description fs-6">
          Years of Activities
        </div>
      </div>
      <div class="projects-stats stats-common">
        <div class="title-stats fs-2">
          30+
        </div>
        <div class="verticalLine"></div>
        <div class="title-description fs-6">
          Projects Completed
        </div>
      </div>
      <div class="another-quote-stats stats-common">
        <div class="title-stats fs-2">
          700
        </div>
        <div class="verticalLine"></div>
        <div class="title-description fs-6">
          Villages we Work With
        </div>
      </div>
      <div class="people-aided-stats stats-common">
        <div class="title-stats fs-2">
          500k+
        </div>
        <div class="verticalLine"></div>
        <div class="title-description fs-6">
          Rural People Directly Helped
        </div>
      </div>
    </div>
  </section>

  <!-- section 5 -->

  <!-- slider section 1 -->

  <div class="container-fluid mt-5 mb-5">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h5 class="fs-1 text-brown" style="font-family: 'Great Vibes', cursive">The Pillars of Our Existence</h5>
          <h1 class="fw-bold">Founders</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner pb-5 text-center">

      <div class="carousel-item active carousel-center" data-bs-interval="2000">
        <section class="container-fluid">
          <div class="row">

            <div class="col-lg-4"></div>

            <div class="col-lg-5 col-md-8 col-sm-12 text-center">

              <div class="row w-100">
                <div class="col-lg-5 col-md-6 col-sm-12">
                  <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="w-75 img-fluid">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                  <h3 class="fs-5 fw-bold m-3">Mr. Bhupesh Tiwari</h3>
                  <p class="fs-6 text-brown fw-bolder">
                    Co-Founder &amp; President
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-8">
                  <p class="fs-6 text-black text-justify" style="margin-top: 1rem;">
                    The co-founder and President, Mr Bhupesh Tiwari was influenced by Gandhian Dr S.N. Subbarao and SK
                    Mirmira to work toward a decentralized economy and revival of traditional handicrafts. He has been
                    part of many social and youth movements since his childhood. From his 35 years of experience
                    in the social sector, he has expertise in rural marketing, rural technology, organizational
                    development,community mobilizations and development etc.
                  </p>
                </div>
              </div>

            </div>


          </div>
        </section>
      </div>

      <div class="carousel-item carousel-center" data-bs-interval="2000">
        <section class="container-fluid">
          <div class="row">

            <div class="col-lg-4"></div>

            <div class="col-lg-5 col-md-8 col-sm-12 text-center">

              <div class="row w-100">
                <div class="col-lg-5 col-md-6 col-sm-12">
                  <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="w-75 img-fluid">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                  <h3 class="fs-5 fw-bold m-3">Mr. Harilal Bharadwaj</h3>
                  <p class="fs-6 text-brown fw-bolder">
                    Co-Founder &amp; Secretary
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-8">
                  <p class="fs-6 text-black text-justify" style="margin-top: 1rem;">
                    Our Co-founder and Secretary came across various social organisations in Uttar Pradesh and was
                    inspired by their work in his early life. During his time at Gramoday, he developed a keen interest
                    in the sector. He has expertise in handicraft operations, artisan mobilization and technical
                    expert in terracotta, Dhokra, wrought iron etc. He had great relationships with the artisan
                    community
                    and a strong knowledge of the ground.
                  </p>
                </div>
              </div>

            </div>


          </div>
        </section>
      </div>

      <div class="carousel-item carousel-center" data-bs-interval="2000">
        <section class="container-fluid">
          <div class="row">

            <div class="col-lg-4"></div>

            <div class="col-lg-5 col-md-8 col-sm-12 text-center">

              <div class="row w-100">
                <div class="col-lg-5 col-md-6 col-sm-12">
                  <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="w-75 img-fluid">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                  <h3 class="fs-5 fw-bold m-3">Late. Bhupendra Banchhor</h3>
                  <p class="fs-6 text-brown fw-bolder">
                    Co-Founder
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-8 col-sm-8">
                  <p class="fs-6 text-black text-justify" style="margin-top: 1rem;">
                    Our Co-founder Late Bhupendra Banchhor has also been inspired by his Guru S.K. Mirmira Ji, because
                    of whom he wanted to work in handicrafts. He was a creative head of the organization and envision
                    Bastar to be recognised globally for its craft and culture. His motto in life was "work like a
                    labour and live like a king". And in his life-span, he stood by his words.
                  </p>
                </div>
              </div>

            </div>


          </div>
        </section>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon p-3" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon p-3" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- slider section 1 -->

  <!-- divided line  -->

  <div class="d-flex justify-content-center align-items-center mb-5">
    <hr class="border-3 border-top border-danger" style="width: 80%;">
  </div>

  <!-- divided line  -->

  <!-- slider section 2 -->
  {{!-- changes started --}}
  <div class="container-logo-section">
    {{!-- <h2>COLLABORATIVE PARTNERS</h2> --}}
    <section class="customer-logos slider">
      <div class="slide">
        <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="img-fluid" style="width:80%;">
        <h6 class="fw-bold mt-3 mb-2">Shri. Harilal Bhardwaj</h6>
        <p class="text-brown" style="font-size:0.8rem;">
          Secretary
        </p>
      </div>
      <div class="slide">
        <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="img-fluid" style="width:80%;">
        <h6 class="fw-bold mt-3 mb-2">Smt. Khodin Bai</h6>
        <p class="text-brown" style="font-size:0.8rem;">
          Vice President
        </p>
      </div>
      <div class="slide">
        <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="img-fluid" style="width:80%;">
        <h6 class="fw-bold mt-3 mb-2">Shri Narendra Chakradhari</h6>
        <p class="text-brown" style="font-size:0.8rem;">
          Treasurer
        </p>
      </div>
      <div class="slide">
        <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="img-fluid" style="width:80%;">
        <h6 class="fw-bold mt-3 mb-2">Rajesh Verma</h6>
        <p class="text-brown" style="font-size:0.8rem;">
          Member
        </p>
      </div>
      <div class="slide">
        <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="img-fluid" style="width:80%;">
        <h6 class=" fw-bold mt-3 mb-2">Shri. Pramod Potai</h6>
        <p class="text-brown" style="font-size:0.8rem;">
          Project Manager
        </p>
      </div>
      <div class="slide">
        <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="img-fluid" style="width:80%;">
        <h6 class="fw-bold mt-3 mb-2">Shri. Ajay Baidh</h6>
        <p class="text-brown" style="font-size:0.8rem;">
          Wash Associate
        </p>
      </div>
      <div class="slide">
        <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="img-fluid" style="width:80%;">
        <h6 class="fw-bold mt-3 mb-2">Shri. Krishna Kumbhkar</h6>
        <p class="text-brown" style="font-size:0.8rem;">
          Account Head
        </p>
      </div>
      <div class="slide">
        <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="img-fluid" style="width:80%;">
        <h6 class="fw-bold mt-3 mb-2">Smt. Prabha Kumbhkar</h6>
        <p class="text-brown" style="font-size:0.8rem;">
          Principal
        </p>
      </div>
      <div class="slide">
        <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="img-fluid" style="width:80%;">
        <h6 class=" fw-bold mt-3 mb-2">Nisha Nishad</h6>
        <p class="text-brown" style="font-size:0.8rem;">
          Counsellor
        </p>
      </div>
      <div class="slide">
        <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="img-fluid" style="width:80%;">
        <h6 class="fw-bold mt-3 mb-2">Ashok Chakradhari</h6>
        <p class="text-brown" style="font-size:0.8rem;">
          Member
        </p>
      </div>
      <div class="slide">
        <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="img-fluid" style="width:80%;">
        <h6 class="fw-bold mt-3 mb-2">Dr. Ratna Verma</h6>
        <p class="text-brown" style="font-size:0.8rem;">
          Member
        </p>
      </div>
      <div class="slide">
        <img src="/img/blank-profile-picture-g5c7a16d08_1280.png" alt="#" class="img-fluid" style="width:80%;">
        <h6 class="fw-bold mt-3 mb-2">Shreeti Biswas</h6>
        <p class="text-brown" style="font-size:0.8rem;">
          Management Information System Officer
        </p>
      </div>

    </section>
    {{!-- changes done --}}
  </div>
  <!-- slider section 2 -->

  <!-- Footer section -->
  <section id="contact" class="footer_wrapper bg-light-skin">

    <div class="container-fluid block_newsletter">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="ps-1 mb-4">
            <p class="d-flex pt-3">
              <a href="https://www.facebook.com/saathikondagaon" class="footer_social_media_icon"><i
                  class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/saathibastar/" class="footer_social_media_icon"><i
                  class="fab fa-instagram"></i></a>
              <a href="https://www.linkedin.com/company/saathi-samaj-sevi-sanstha/about/"
                class="footer_social_media_icon"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://twitter.com/saathibastar" class="footer_social_media_icon"><i
                  class="fab fa-twitter"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row pt-5">

        <div class="col-lg-3 mb-4 mb-lg-0">
          <img class="w-50 d-none d-lg-block" src="img/Saathi_logo.png" />
          <img class="w-25 d-lg-none d-md-block" src="img/Saathi_logo.png" />
        </div>

        <div class="col-lg-3 ps-lg-5 mb-4 mb-lg-0">
          <h5 class="fs-5 font-bolder text-red">INFO</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/about">About Us</a>
            </li>
            <li>
              <a href="/ourApproach">Our Approach</a>
            </li>
            <li>
              <a href="/network&Partner">Network &amp; Partners</a>
            </li>
            <!-- -------BASTAR PAGE CHALU KRNA RAHEGA BAAD MEI---- -->
            <!-- <li>
              <a href="/bastar">Bastar</a>
            </li> -->
            <li>
              <a href="/annualreports">Annual Reports</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 ps-lg-5 mb-4 mb-lg-0">
          <h5 class="font-bolder text-red">PROJECTS</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/ourProjects">Education</a>
            </li>
            <li>
              <a href="/ourProjects">Craft &amp; Rural Tourism</a>
            </li>
            <li>
              <a href="/ourProjects">Livelihood</a>
            </li>
            <li>
              <a href="/ourProjects">Health &amp; Nutrition</a>
            </li>
            <li>
              <a href="/ourProjects">People’s Rights &amp; Empowerment</a>
            </li>
            <li>
              <a href="/ourProjects">Governance &amp; Policy Advocacy</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 ps-lg-5 mb-4 mb-lg-0">
          <h5 class="font-bolder text-red">GET INVOLVED</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/contact" data-bs-toggle="modal" data-bs-target="#exampleModal">Support us</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>

        <div class="col-12 text-left pt-1 border-top" style="border-color: #726f6f">
          <p style="color: #646161">
            © 2022,
            <a href="#" target="_blank" title="" class="fs-6 text-decoration-none" style="color: #646161">
              all rights reserved, Saathi Samaj Sevi Sanstha - REG. N.
              0123456789 &amp; <span><a href="https://www.innogative.in" id="innogative-footer"> Designed by
                  Innogative</a></span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer section exit -->

  {{>support}}

  <!-- Bootstrap 5 JS CDN Links -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
  {{!-- changes --}}
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/logo-slider.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
  {{!-- changes done --}}
  <!-- Custom Js Link -->
  <script src="/js/main.js"></script>
</body>

</html>