<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <title>Events</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/Flogo.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700,800%7CRubik:300,300i,400,400i,500,500i,700,700i,900,900i">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-top">
                <div class="preloader-top-sun"><img src="images/Flogo.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header page-header-1 context-dark">
            <div class="page-header-1-figure m-parallax">
                <div class="page-header-1-image m-parallax-image" style="background-image: url(images/bg-image-1.jpg);">
                </div>
            </div>
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                    data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
                    data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed"
                    data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
                    data-lg-stick-up-offset="1px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px"
                    data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle"
                                    data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand"><a class="brand" href="/"><img class="brand-logo-dark"
                                            src="images/logo3.png" alt="" width="149" height="50"
                                            srcset="images/logo3.png 2x" /><img class="brand-logo-light"
                                            src="images/logo3.png" alt="" width="146" height="50"
                                            srcset="images/logo3.png 2x" /></a>
                                </div>
                            </div>
                            <div class="rd-navbar-nav-wrap">
                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item "><a class="rd-nav-link" href="/">Home</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/about">About Us</a>
                                    </li>
                                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/event">Events</a>
                                        <!-- RD Navbar Dropdown-->
                                        {{!-- <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="single-event.html">Single Event</a></li>
                                        </ul> --}}
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/gallery">Gallery</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">contact Us</a>
                                    </li>
                                    {{!-- <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                                        <!-- RD Navbar Megamenu-->
                                        <ul class="rd-menu rd-navbar-megamenu">
                                            <li class="rd-megamenu-item">
                                                <p class="rd-megamenu-title">Elements</p>
                                                <div class="rd-megamenu-block">
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="typography.html">Typography</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="buttons.html">Buttons</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="forms.html">Forms</a></li>
                                                    </ul>
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="icon-lists.html">Icon Lists</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="counters-and-accordions.html">Counters &amp;
                                                                Accordions</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="rd-megamenu-item">
                                                <p class="rd-megamenu-title">Pages</p>
                                                <div class="rd-megamenu-block">
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="gallery.html">Gallery</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="our-team.html">Our
                                                                Team</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="testimonials.html">Testimonials</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="contact-us.html">Contact Us</a></li>
                                                    </ul>
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link" href="404-page.html">404
                                                                Page</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="coming-soon.html">Coming Soon</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="privacy-policy.html">Privacy policy</a></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                class="rd-megamenu-list-link"
                                                                href="search-results.html">Search results</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li> --}}
                                    {{!-- <li class="rd-nav-item"><a class="rd-nav-link" href="blog.html">Blog</a>
                                        <!-- RD Navbar Dropdown-->
                                        <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="blog-post.html">Blog
                                                    post</a></li>
                                        </ul>
                                    </li> --}}
                                </ul>
                            </div>
                            <div class="rd-navbar-collapse-outer context-light">
                                <button class="rd-navbar-collapse-toggle"
                                    data-multitoggle="#rd-navbar-collapse, #toggle-inner"><span
                                        class="rd-navbar-collapse-toggle-element"
                                        id="toggle-inner"><span></span></span><span
                                        class="rd-navbar-collapse-toggle-text">More</span></button>
                                <div class="rd-navbar-collapse" id="rd-navbar-collapse">
                                    <button class="rd-navbar-collapse-close"
                                        data-multitoggle="#rd-navbar-collapse"><span
                                            class="rd-navbar-collapse-toggle-element active"><span></span></span></button>
                                    <h4 class="font-weight-sbold">Address & Phone</h4>
                                    <h5 class="ls-1">Shop No. 4, Jai Prakash Nagar Adhartal, Jabalpur 482004</h5>
                                    <h5 class="ls-1"><a href="tel:+91-8839698959">+91-8839698959</a></h5>
                                    <div class="divider divider-small"></div>
                                    <h4 class="font-weight-sbold">Our Portfolio</h4>
                                    <!-- Owl Carousel-->
                                    <div class="owl-carousel owl-carousel-tour-minimal" data-items="1" data-dots="true"
                                        data-nav="false" data-auto-width="true" data-loop="true" data-margin="20px"
                                        data-sm-margin="0px" data-autoplay="4000" data-mouse-drag="false">
                                        <div class="owl-item-inner">
                                            <article class="tour-minimal context-dark">
                                                <div class="tour-minimal-inner"
                                                    style="background-image: url(boostPhoto/IMG_1208.jpg);">
                                                    <div class="tour-minimal-header">
                                                    </div>
                                                    <div class="tour-minimal-main">
                                                        <h4 class="tour-minimal-title"><a href="/event">Shop Opening</a>
                                                        </h4>
                                                        <div class="tour-minimal-pricing">
                                                            <p class="tour-minimal-price tour-minimal-price-new"></p>
                                                        </div>
                                                        <p class="tour-minimal-comment"></p>
                                                    </div>
                                                    <div class="tour-minimal-caption">
                                                        <p>We offer quality event organization.</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="owl-item-inner">
                                            <article class="tour-minimal context-dark">
                                                <div class="tour-minimal-inner"
                                                    style="background-image: url(boostPhoto/IMG_1205.jpg);">
                                                    <div class="tour-minimal-header">
                                                    </div>
                                                    <div class="tour-minimal-main">
                                                        <h4 class="tour-minimal-title"><a href="/event">Theme Party</a>
                                                        </h4>
                                                        <div class="tour-minimal-pricing">
                                                            <p class="tour-minimal-price tour-minimal-price-new"></p>
                                                        </div>
                                                        <p class="tour-minimal-comment"></p>
                                                    </div>
                                                    <div class="tour-minimal-caption">
                                                        <p>We offer quality event organization.</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="owl-item-inner">
                                            <article class="tour-minimal context-dark">
                                                <div class="tour-minimal-inner"
                                                    style="background-image: url(boostPhoto/IMG_1220.jpg);">
                                                    <div class="tour-minimal-header">
                                                    </div>
                                                    <div class="tour-minimal-main">
                                                        <h4 class="tour-minimal-title"><a href="/event">Private
                                                                Event</a></h4>
                                                        <div class="tour-minimal-pricing">
                                                            <p class="tour-minimal-price tour-minimal-price-new"></p>
                                                        </div>
                                                        <p class="tour-minimal-comment"></p>
                                                    </div>
                                                    <div class="tour-minimal-caption">
                                                        <p>We offer quality event organization.</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="owl-item-inner">
                                            <article class="tour-minimal context-dark">
                                                <div class="tour-minimal-inner"
                                                    style="background-image: url(boostPhoto/IMG_1171.jpg);">
                                                    <div class="tour-minimal-header">
                                                    </div>
                                                    <div class="tour-minimal-main">
                                                        <h4 class="tour-minimal-title"><a href="/event">Brand
                                                                promotion</a></h4>
                                                        <div class="tour-minimal-pricing">
                                                            <p class="tour-minimal-price tour-minimal-price-new"></p>
                                                        </div>
                                                        <p class="tour-minimal-comment"></p>
                                                    </div>
                                                    <div class="tour-minimal-caption">
                                                        <p>We offer quality event organization.</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div><a class="button button-default-outline" href="/gallery">View Gallery</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-placeholder"></div>
                </nav>
            </div>
            <section class="breadcrumbs-custom">
                <div class="breadcrumbs-custom-inner">
                    <div class="container">
                        <div class="breadcrumbs-custom-main m-parallax-content">
                            <svg class="breadcrumbs-custom-line" width="70" height="8" viewBox="0 0 70 8" fill="none">
                                <path
                                    d="M0 1C5 1 5 7 9.92 7C14.84 7 14.92 1 19.85 1C24.78 1 24.85 7 29.77 7C34.69 7 34.77 1 39.71 1C44.65 1 44.71 7 49.63 7C54.55 7 54.63 1 59.57 1C64.51 1 64.57 7 69.5 7"
                                    stroke-width="1.98" stroke-miterlimit="10"></path>
                            </svg>
                            <h2 class="breadcrumbs-custom-title">Events</h2>
                            <p class="big">Our end-to-end service portfolio is updated constantly to match global
                                standards and deliver fresh and engaging experiences for clients and attendees alike.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <section class="section section-lg bg-default">
            <div class="container">
                <div class="row row-30 row-xl-50">
                    <div class="col-sm-6 col-lg-4"><a class="destination-1 context-dark" href="/event">
                            <figure class="destination-1-figure">
                                <div class="destination-1-image bg-image"
                                    style="background-image: url(boostPhoto/event3.jpg);"></div>
                            </figure>
                            <div class="destination-1-caption">
                                <p class="heading-3 destination-1-title">Conference</p>
                                {{!-- <div class="destination-1-comment"><span>send request</span></div> --}}
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-4"><a class="destination-1 context-dark" href="/event">
                            <figure class="destination-1-figure">
                                <div class="destination-1-image bg-image"
                                    style="background-image: url(boostPhoto/event4.jpg);"></div>
                            </figure>
                            <div class="destination-1-caption">
                                <p class="heading-3 destination-1-title">Seminar</p>
                                {{!-- <div class="destination-1-comment"><span>send request</span></div> --}}
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-4"><a class="destination-1 context-dark" href="/event">
                            <figure class="destination-1-figure">
                                <div class="destination-1-image bg-image"
                                    style="background-image: url(boostPhoto/event2.jpg);"></div>
                            </figure>
                            <div class="destination-1-caption">
                                <p class="heading-3 destination-1-title">Corporate</p>
                                {{!-- <div class="destination-1-comment"><span>send request</span></div> --}}
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-4"><a class="destination-1 context-dark" href="/event">
                            <figure class="destination-1-figure">
                                <div class="destination-1-image bg-image"
                                    style="background-image: url(boostPhoto/event5.jpg);"></div>
                            </figure>
                            <div class="destination-1-caption">
                                <p class="heading-3 destination-1-title">Parties</p>
                                {{!-- <div class="destination-1-comment"><span>send request</span></div> --}}
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-4"><a class="destination-1 context-dark" href="/event">
                            <figure class="destination-1-figure">
                                <div class="destination-1-image bg-image"
                                    style="background-image: url(boostPhoto/event1.jpg);"></div>
                            </figure>
                            <div class="destination-1-caption">
                                <p class="heading-3 destination-1-title">VIP Events</p>
                                {{!-- <div class="destination-1-comment"><span>send request</span></div> --}}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Footer-->
        {{>footer}}