{{>dashboardNavbar}}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"> Gallery Table</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Gallery Image</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>change</th>
                            <th>delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each Image}}
                        <tr>
                            <td> <img src="/uploads/{{this.image}}" alt="image" width="80"></td>
                            <td><a class="btn btn-success btn-xs" href="/editImage/{{this._id}}"><i
                                        class="fa fa-edit"></i></a></td>
                            <td><a class="btn btn-danger btn-xs" href="/deleteImage/{{this._id}}"><i
                                        class="fa fa-trash"></i></a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{{>dashboardFooter}}