<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description"
    content="Saathi was started with the belief that an equitable and non-exploitative society can only be created by empowering vulnerable communities so that they can live a life of dignity. To achieve this, it is vital to help the communities realise its strengths to drive the change toward constructive development. Keeping this in mind, Saathi Samaj Sevi Sanstha was established under the Madhya Pradesh Society Act in 1993.">
  <meta name="keywords"
    content="Vulnerable communities, Empowerment, Equitable society, Non-exploitative Life of dignity, Constructive development, Strengths, Change, Saathi Samaj Sevi Sanstha, Madhya Pradesh Society Act 1993">
  <meta name="author" content="Saathi Samaj Sevi Sanstha">
  <title>Saathi | Home</title>


  <!-- FAVICON -->
  <link rel="icon" type="image/png" href="img/Saathi_logo.png" />

  <!-- Bootstrap 5 CDN Links -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

  <!-- Custom css Link -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <!-- Navbar section -->
  <header class="header_wrapper">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="img/Saathi_logo.png" class="d-none d-lg-block w-75 h-100 img-fluid" alt="logo" />
          <img src="img/Saathi_logo.png" class="d-lg-none d-md-block w-50 h-100 img-fluid" alt="logo" />
        </a>

        <button class="navbar-toggler pe-0 text-align-center" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <i class="fas fa-stream navbar-toggler-icon"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <ul class="navbar-nav menu-navbar-nav">

            <li class="nav-item dropdown d-none d-lg-block">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                OUR WORK
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/ourApproach">OUR APPROACH</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/ourProjects">OUR PROJECTS</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/network&Partner">NETWORK & PARTNERS</a>
                </li>
              </ul>
            </li>

            <li class="nav-item d-lg-none d-md-none">
              <a class="nav-link" href="/">HOME</a>
            </li>

            <li class="nav-item d-lg-none d-md-none">
              <a class="nav-link" href="/ourApproach">OUR APPROACH</a>
            </li>

            <li class="nav-item d-lg-none d-md-none">
              <a class="nav-link" href="/ourProjects">OUR PROJECTS</a>
            </li>

            <li class="nav-item d-lg-none d-md-none">
              <a class="nav-link" href="/network&Partner">NETWORK <br /> & PARTNERS</a>
            </li>

            <!--------- BASTAR PAGE CHALU KRNA RAHEGA BAAD MEI ------->
            <!-- <li class="nav-item">
              <a class="nav-link" href="/bastar">BASTAR</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/about">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/story">STORY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT</a>
            </li>
          </ul>
          <form class="d-flex justify-content-center">
            <button class="btn main-btn btn-edit-home" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              SUPPORT US
            </button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <!-- Navbar section exit -->

  <!-- Banner section -->
  <section id="home" class="w-100 h-100 banner_wrapper">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div id="carouselExampleInterval" class="carousel slide" style="padding:0 0.1px 0 0.1px;"
          data-bs-ride="carousel">
          <!-- <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          </div> -->
          <div class="carousel-inner carousel-inner-slider-index">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="/img/Website Photos/Health _ Nutrition/bg-img opt 3.JPG" style="filter: blur(2px);"
                  class="d-block w-100" alt="..." />
              <div class="w-75 carousel-caption d-none d-md-block">
                <h1 class="fs-6 slider-caption">the rural friend</h1>
                <!-- <a href="/ourProjects" class="btn main-btn ">EXPLORE THE PROJECTS</a> -->
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="/img/website photos share/bg-image pot 2.JPG" style="filter: blur(5px);" class="d-block w-100"
                  alt="..." />
              <div class="w-75 carousel-caption d-none d-md-block">
                <h1 class="fs-6 slider-caption">the rural friend</h1>
                <!-- <a href="/ourProjects" class="btn main-btn  ">EXPLORE THE PROJECTS</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner section exit -->

  <!-- section 2-->
  <section class="section_2 bg-light-skin">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title-box text-center" style="margin-top: 2rem;">
            <h1 class="fs-1 text-red" style="font-family: 'Great Vibes', cursive">
              the rural friend
            </h1>
            <h2 class="fs-4 text-black">Saathi Samaj Sevi Sanstha</h2>
          </div>
        </div>
      </div>

      <div class="row justify-content-between align-items-center pb-2" style="margin-bottom: 3rem; margin-top:2rem">
        <div class="col-lg-5 col-sm-12 text-center">
          <a href="/about">
            <img src="/img/website photos share/website photos/_DSC5715.JPG" alt="" class="img-fluid" />
          </a>
        </div>
        <div class="col-lg-6 col-sm-12 pt-1" style="margin-top: 1rem;">
          <p class="text-black">
            Saathi was started with the belief that an equitable and non-exploitative society can only be created by
            empowering the vulnerable community so that they can live a dignified life. To achieve this, it is vital to
            help the community realise its strengths to drive the change toward constructive development. Keeping this
            in mind, Saathi Samaj Sevi Sanstha was established under the Madhya Pradesh Society Act in 1993.
          </p>
          <a href="/about" class="btn general-btn" id="about-us-section-index-page">Read More</a>
        </div>
      </div>
    </div>

    <div class="w-100 py-2 bg-white">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h1 class="fs-1 text-red" style="font-family: 'Great Vibes', cursive; margin-top:2rem">
                Symphony of Nature, Art and Culture
              </h1>
              <h2 class="fs-4 text-black" style="margin-bottom: 3rem;">
                Bastar
              </h2>
            </div>
          </div>
        </div>

        <div class="row justify-content-between align-items-center" style="margin-bottom: 1rem;">
          <div class="col-lg-5 col-sm-12 try">
            {{!-- <a href="/gallery"> --}}
              <img src="/img/Website Photos/Craft/design develpoment/BBSR 021.jpg" alt="" class="img-fluid" />
            {{!-- </a> --}}
          </div>
          <div class="col-lg-6 col-sm-12">
            <p class="fs-6 text-black">
              Amidst the greens of Chhattisgarh, is a division bustling with energy, creativity and hope; a region
              that’s known as Bastar. Within the small region is a magnanimous world that’s home to spellbinding
              forests, number of waterfalls, a wide range of wildlife, beautiful plateaus and natural resources. But
              more than its geography, Bastar is famous for its tribal culture & tradition. It is home to many tribal
              communities like Madia, muria, Gond, Halba and many others.
            </p>
            <!-- <p class="fs-6 text-black">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi.
            </p> -->
            <!-- <a href="/bastar" class="fs-6 general-btn p-2">Read More</a> -->
          </div>

          <div class="col-lg-5 col-sm-12 try_new">
            {{!-- <a href="/gallery"> --}}
              <img src="/img/Website Photos/Craft/design develpoment/BBSR 021.jpg" alt="" class="img-fluid" />
            {{!-- </a> --}}
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- section  -->

  <!-- image slider section -->

  <div id="ImageSlider" class="d-none d-lg-block d-md-block carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <section id="best-deals" class="best_deals_wrapper">
          <div class="pt-2 bg-white">
            <div class="container-fluid home-gallery-slider">
              <div class="row align-items-center">
                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Bastar Image/AM0_9227.JPG" alt="#" class="mq" />
                  </a>
                </div>

                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Bastar Image/AM0_9279.JPG" alt="#" class="mq" />
                  </a>
                </div>

                <div class="col-md-2 col-sm-3 p-md-0 deals-item ">
                  <a href="/gallery">
                    <img src="/img/website photos share/bg-image pot 2.JPG" alt="#" class="mq" />
                  </a>
                </div>

                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Craft/design develpoment/BBSR 023.jpg" alt="#" class="mq" />
                  </a>
                </div>

                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/website photos share/website photos/11a.jpg" alt="#" class="mq" />
                  </a>
                </div>

                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Bastar Image/P1030515.JPG" alt="#" class="mq" />
                  </a>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <section id="best-deals" class="best_deals_wrapper">
          <div class="pt-2 bg-white">
            <div class="container-fluid home-gallery-slider">
              <div class="row align-items-center">
                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/CFR/Wanadhikar Sammelan 1.JPG" alt="#" class="mq" />
                  </a>
                </div>

                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/CFR/BAMBOO TRAINING  (1).JPG" alt="#" class="mq" />
                  </a>
                </div>

                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Craft/design develpoment/DESIGN WORKSHOP (6).JPG" alt="#"
                      class="mq" />
                  </a>
                </div>

                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Craft/design develpoment/NEW WROUGHT IRON DESIGN 7.JPG" alt="#"
                      class="mq" />
                  </a>
                </div>

                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Craft/design develpoment/NEW TERRACOTTA DESIGN.JPG" alt="#"
                      class="mq" />
                  </a>
                </div>

                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Education/IMG_20200126_082214.jpg" alt="#" class="mq" />
                  </a>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <section id="best-deals" class="best_deals_wrapper">
          <div class="pt-2 bg-white">
            <div class="container-fluid home-gallery-slider">
              <div class="row align-items-center">
                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Education/IMG_20170724_143139.jpg" alt="#" class="mq" />
                  </a>
                </div>

                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="./img/f1.png" alt="#" class="mq" />
                  </a>
                </div>

                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Bastar Image/AM0_9227.JPG" alt="#" class="mq" />
                  </a>
                </div>

                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/CFR/BAMBOO TRAINING  (1).JPG" alt="#" class="mq" />
                  </a>
                </div>

                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/website photos share/website photos/11a.jpg" alt="#" class="mq" />
                  </a>
                </div>
                <div class="col-md-2 col-sm-3 p-md-0 deals-item d-lg-block">
                  <a href="/gallery">
                    <img src="/img/website photos share/website photos/working together.JPG" alt="#" class="mq" />
                  </a>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div id="ImageSlider" class="d-lg-none d-md-none carousel slide" data-bs-ride="carousel" style="margin-bottom: 2rem;">
    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="2000">
        <section id="best-deals" class="best_deals_wrapper">
          <div class="pt-2 bg-white">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Bastar Image/AM0_9227.JPG" alt="#" class="mq" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <section id="best-deals" class="best_deals_wrapper">
          <div class="pt-2 bg-white">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col-md-2 col-sm-3 p-md-0 deals-item ">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Bastar Image/AM0_9279.JPG" alt="#" class="mq" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <section id="best-deals" class="best_deals_wrapper">
          <div class="pt-2 bg-white">
            <div class="container-fluid">
              <div class="row  align-items-center">
                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/website photos share/website photos/11a.jpg" alt="#" class="mq" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <section id="best-deals" class="best_deals_wrapper">
          <div class="pt-2 bg-white">
            <div class="container-fluid">
              <div class="row  align-items-center">
                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Craft/design develpoment/BBSR 023.jpg" alt="#" class="mq" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <section id="best-deals" class="best_deals_wrapper">
          <div class="pt-2 bg-white">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Bastar Image/P1030515.JPG" alt="#" class="mq" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>


      <div class="carousel-item" data-bs-interval="2000">
        <section id="best-deals" class="best_deals_wrapper">
          <div class="pt-2 bg-white">
            <div class="container-fluid">
              <div class="row ]align-items-center">
                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Bastar Image/AM0_9227.JPG" alt="#" class="mq" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <section id="best-deals" class="best_deals_wrapper">
          <div class="pt-2 bg-white">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col-md-2 col-sm-3 p-md-0 deals-item">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Bastar Image/P1030515.JPG" alt="#" class="mq" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    </div>
  </div>


  <!-- image slider section -->

  <!-- testimonial section -->
  <section id="testimonial" class="d-none d-lg-block d-md-block  testimonial_wrapper pt-5 bg-brown">
    <div class="container-fluid" style="margin-top: 2rem;">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="title-box text-center">
            <h4 class="fs-1 text-skin" style="font-family: 'Great Vibes', cursive">
              “Alone we can do so little. Together we can do so much.”
            </h4>
            <h3 class="fs-4 text-white" style="margin-bottom: 2rem; margin-top:1rem">Our Programmes</h3>
          </div>
        </div>
      </div>

      <div id="carouselExampleNewone" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner pb-5 text-center">
          <div class="carousel-item active carousel-center">
            <div class="col-lg-4 col-md-3 col-md-offset-4">
              <div class="card bg-transparent border-0" style="width: 30rem">
                <a href="/ourProjects">
                  <img src="/img/Website Photos/RTE Watch/education.jpg" class="card-img-top" />
                </a>
                <div class="card-body">
                  <h5 class="card-title text-light-skin">Education</h5>
                  <p class="card-text text-white">
                    One of the major reasons that led to the exploitation of people in Bastar was the absence of
                    quality education.
                  </p>
                  <a href="/ourProjects" class="btn custom-btn">EXPLORE</a>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item carousel-center">
            <div class="col-lg-4 col-md-3 col-md-offset-4 ">
              <div class="card bg-transparent border-0" style="width: 30rem">
                <a href="/ourProjects">
                  <img src="/img/website photos share/website photos/tourism final.jpg" class="card-img-top" />
                </a>
                <div class="card-body">
                  <h5 class="card-title text-light-skin">Rural Tourism</h5>
                  <p class="card-text text-white">
                    We’ve also been working to promote rural tourism in Bastar.
                  </p>
                  <a href="/ourProjects" class="btn custom-btn">EXPLORE</a>
                </div>
              </div>
            </div>
          </div>


          <div class="carousel-item carousel-center">
            <div class="col-lg-4 col-md-3 col-md-offset-4 ">
              <div class="card bg-transparent border-0" style="width: 30rem">
                <a href="/ourProjects">
                  <img src="/img/website photos share/livelihood.JPG" class="card-img-top" />
                </a>
                <div class="card-body">
                  <h5 class="card-title text-light-skin">Livelihood</h5>
                  <p class="card-text text-white">
                    To generate sustainable means of livelihood, we’ve been introducing various projects.
                  </p>
                  <a href="/ourProjects" class="btn custom-btn">EXPLORE</a>
                </div>
              </div>
            </div>
          </div>


          <div class="carousel-item carousel-center">
            <div class="col-lg-4 col-md-3 col-md-offset-4 ">
              <div class="card bg-transparent border-0" style="width: 30rem">
                <a href="/ourProjects">
                  <img src="/img/Website Photos/CFR/METAL CRAFT TRAINING (3).JPG" class="card-img-top" />
                </a>
                <div class="card-body">
                  <h5 class="card-title text-light-skin">People’s Rights & Empowerment</h5>
                  <p class="card-text text-white">
                    We have constantly introduced programs in the sectors of health, education and employment, because
                    we consider them as basic rights of every individual. </p>
                  <a href="/ourProjects" class="btn custom-btn">EXPLORE</a>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item carousel-center">
            <div class="col-lg-4 col-md-3 col-md-offset-4 ">
              <div class="card bg-transparent border-0" style="width: 30rem">
                <a href="/ourProjects">
                  <img src="/img/Website Photos/Bastar Image/Bastar photos/health card.JPG" class="card-img-top" />
                </a>
                <div class="card-body">
                  <h5 class="card-title text-light-skin">Health & Nutrition</h5>
                  <p class="card-text text-white">
                    In 100 hard to reach villages of Narayanpur block of Bastar region, we’ve been introducing health
                    and nutrition outreach projects</p>
                  <a href="/ourProjects" class="btn custom-btn">EXPLORE</a>
                </div>
              </div>
            </div>
          </div>



        </div>
        <button class="carousel-control-prev" type="button" style="margin-left:-1%"
          data-bs-target="#carouselExampleNewone" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" style="margin-right:-1%"
          data-bs-target="#carouselExampleNewone" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


    </div>
    </div>
  </section>

  <section id="testimonial" class="d-lg-none d-md-none testimonial_wrapper pt-5 bg-brown">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="title-box text-center">
            <h4 class="fs-1 text-skin" style="font-family: 'Great Vibes', cursive">
              “Alone we can do so little. Together we can do so much.”
            </h4>
            <h3 class="fs-4 text-white">Our Programmes</h3>
          </div>
        </div>
      </div>

      <div id="carouselExampleNew" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner pb-5 text-center">
          <div class="carousel-item active carousel-center" data-bs-interval="3000">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col-lg-4 col-md-3 col-md-offset-4">
                <div class="card bg-transparent border-0" style="width: 18rem">
                  <a href="/gallery">
                    <img src="/img/Website Photos/RTE Watch/education.jpg" class="card-img-top" />
                  </a>
                  <div class="card-body">
                    <h5 class="card-title text-light-skin">Education</h5>
                    <p class="card-text text-white">
                      One of the major reasons that led to the exploitation of people in Bastar was the absence of
                      quality education.
                    </p>
                    <a href="/ourProjects" class="btn custom-btn">EXPLORE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item carousel-center" data-bs-interval="3000">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col-lg-4 col-md-3 col-md-offset-4">
                <div class="card bg-transparent border-0" style="width: 18rem">
                  <a href="/gallery">
                    <img src="/img/website photos share/livelihood.JPG" class="card-img-top" />
                  </a>
                  <div class="card-body">
                    <h5 class="card-title text-light-skin">Livelihood</h5>
                    <p class="card-text text-white">
                      To generate sustainable means of livelihood, we’ve been introducing various projects.
                    </p>
                    <a href="/ourProjects" class="btn custom-btn">EXPLORE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item carousel-center" data-bs-interval="3000">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col-lg-4 col-md-3 col-md-offset-4">
                <div class="card bg-transparent border-0" style="width: 18rem">
                  <a href="/gallery">
                    <img src="/img/Website Photos/Bastar Image/Bastar photos/health card.JPG" class="card-img-top" />
                  </a>
                  <div class="card-body">
                    <h5 class="card-title text-light-skin">Health & Nutrition</h5>
                    <p class="card-text text-white">
                      In 100 hard to reach villages of Narayanpur block of Bastar region, we’ve been introducing health
                      and nutrition outreach projects
                    </p>
                    <a href="/ourProjects" class="btn custom-btn">EXPLORE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item carousel-center" data-bs-interval="3000">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col-lg-4 col-md-3 col-md-offset-4">
                <div class="card bg-transparent border-0" style="width: 18rem">
                  <a href="/gallery">
                    <img src="/img/Website Photos/CFR/METAL CRAFT TRAINING (3).JPG " class="card-img-top" />
                  </a>
                  <div class="card-body">
                    <h5 class="card-title text-light-skin">People’s Rights & Empowerment</h5>
                    <p class="card-text text-white">
                      We have constantly introduced programs in the sectors of health, education and employment, because
                      we consider them as basic rights of every individual.
                    </p>
                    <a href="/ourProjects" class="btn custom-btn">EXPLORE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item carousel-center" data-bs-interval="3000">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col-lg-4 col-md-3 col-md-offset-4">
                <div class="card bg-transparent border-0" style="width: 18rem">
                  <a href="/gallery">
                    <img src="/img/website photos share/website photos/tourism final.jpg" class="card-img-top" />
                  </a>
                  <div class="card-body">
                    <h5 class="card-title text-light-skin">Rural Tourism</h5>
                    <p class="card-text text-white">
                      We’ve also been working to promote rural tourism in Bastar.
                    </p>
                    <a href="/ourProjects" class="btn custom-btn">EXPLORE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <!-- testimonial section exit -->

  <!-- donate section -->
  <section id="donate" class="donate_wrapper"
    style=" background-image: linear-gradient(#dfb491,rgba(255, 212, 23, 0.66),#dfb491),url(../img//f6.jpg);">
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h4 class="fs-1 text-brown" style="font-family: 'Great Vibes', cursive">
                Towards Social Transformation
              </h4>
              <h2 class="fs-4 text-black">Our Approach </h2>
            </div>
          </div>
        </div>

        <div class="row justify-content-between align-items-center">
          <div class="col-2"></div>

          <div class="col-lg-6 col-sm-12">
            <p class="fs-6 text-black">
              Saathi emphasises, the participation of the local community in development initiatives so that the people
              can select their own goals and the means of achieving them. We invest our time in understanding the
              community and its challenges from the community’s perspective and finding local and contextual solutions.
            </p>
            <div class="d-flex justify-content-center align-items-center">
              <a href="/ourApproach" class="fs-6 btn custom-btn p-2" id="saathi-approach-index-page">Read More</a>
            </div>
          </div>

          <div class="col-2"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- donate section exit -->

  <!-- Footer section -->
  <section id="contact" class="footer_wrapper bg-light-skin">

    <div class="container-fluid block_newsletter">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="ps-1 mb-4">
            <p class="d-flex pt-3">
              <a href="https://www.facebook.com/saathikondagaon" class="footer_social_media_icon"><i
                  class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/saathibastar/" class="footer_social_media_icon"><i
                  class="fab fa-instagram"></i></a>
              <a href="https://www.linkedin.com/company/saathi-samaj-sevi-sanstha/about/"
                class="footer_social_media_icon"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://twitter.com/saathibastar" class="footer_social_media_icon"><i
                  class="fab fa-twitter"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row pt-5">

        <div class="col-lg-3 mb-4 mb-lg-0">
          <img class="w-50 d-none d-lg-block" src="img/Saathi_logo.png" />
          <img class="w-25 d-lg-none d-md-block" src="img/Saathi_logo.png" />
        </div>

        <div class="col-lg-3 ps-lg-5 mb-4 mb-lg-0">
          <h5 class="fs-5 font-bolder text-red">INFO</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/about">About Us</a>
            </li>
            <li>
              <a href="/ourApproach">Our Approach</a>
            </li>
            <li>
              <a href="/network&Partner">Network & Partners</a>
            </li>
            <!--------- BASTAR PAGE CHALU KRNA RAHEGA BAAD MEI ------>
            <!-- <li>
              <a href="/bastar">Bastar</a>
            </li> -->
            <li>
              <a href="/annualreports">Annual Reports</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 ps-lg-5 mb-4 mb-lg-0">
          <h5 class="font-bolder text-red">PROJECTS</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/ourProjects">Education</a>
            </li>
            <li>
              <a href="/ourProjects">Craft & Rural Tourism</a>
            </li>
            <li>
              <a href="/ourProjects">Livelihood</a>
            </li>
            <li>
              <a href="/ourProjects">Health & Nutrition</a>
            </li>
            <li>
              <a href="/ourProjects">People’s Rights & Empowerment</a>
            </li>
            <li>
              <a href="/ourProjects">Governance & Policy Advocacy</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 ps-lg-5 mb-4 mb-lg-0">
          <h5 class="font-bolder text-red">GET INVOLVED</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/contact" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Support us</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>

        <div class="col-12 text-left pt-1 border-top" style="border-color: #726f6f">
          <p style="color: #646161">
            © 2022,
            <a href="#" target="_blank" title="" class="fs-6 text-decoration-none" style="color: #646161">
              all rights reserved, Saathi Samaj Sevi Sanstha - REG. N.
              0123456789  &amp; <span><a href="https://www.innogative.in" id="innogative-footer"> Designed by Innogative</a></span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer section exit -->

  {{>support}}

  <!-- Bootstrap 5 JS CDN Links -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

  <!-- Custom Js Link -->
  <script src="js/main.js"></script>
</body>

</html>