<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description"
    content="Saathi was started with the belief that an equitable and non-exploitative society can only be created by empowering vulnerable communities so that they can live a life of dignity. To achieve this, it is vital to help the communities realise its strengths to drive the change toward constructive development. Keeping this in mind, Saathi Samaj Sevi Sanstha was established under the Madhya Pradesh Society Act in 1993.">
  <meta name="keywords"
    content="Vulnerable communities, Empowerment, Equitable society, Non-exploitative Life of dignity, Constructive development, Strengths, Change, Saathi Samaj Sevi Sanstha, Madhya Pradesh Society Act 1993">
  <meta name="author" content="Saathi Samaj Sevi Sanstha">
  <title>Saathi | Network and Partners</title>

  <!-- FAVICON -->
  <link rel="icon" type="image/png" href="img/Saathi_logo.png">

  <!-- Bootstrap 5 CDN Links -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">

  <!-- Custom css Link -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bastar.css">
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="css/network&partner.css">
  <link rel="stylesheet" href="/css/network&partner-logo-slider.css">

</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="85">

  <!-- Navbar section -->
  <header class="header_wrapper">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="img/Saathi_logo.png" class="d-none d-lg-block w-75 h-100 img-fluid" alt="logo" />
          <img src="img/Saathi_logo.png" class="d-lg-none d-md-block w-50 h-100 img-fluid" alt="logo" />
        </a>

        <button class="navbar-toggler pe-0 text-align-center" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <i class="fas fa-stream navbar-toggler-icon"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <ul class="navbar-nav menu-navbar-nav">
            <li class="nav-item dropdown d-none d-lg-block">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                OUR WORK
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/ourApproach">OUR APPROACH</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/ourProjects">OUR PROJECTS</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/network&Partner">NETWORK & PARTNERS</a>
                </li>
              </ul>
            </li>

            <li class="nav-item d-lg-none d-md-none">
              <a class="nav-link" href="/ourApproach">OUR APPROACH</a>
            </li>

            <li class="nav-item d-lg-none d-md-none">
              <a class="nav-link" href="/ourProjects">OUR PROJECTS</a>
            </li>

            <li class="nav-item d-lg-none d-md-none">
              <a class="nav-link" href="/network&Partner">NETWORK & PARTNERS</a>
            </li>

            <!-- -------BASTAR PAGE CHALU KRNA RAHEGA BAAD MEI---- -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="/bastar">BASTAR</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/about">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/story">STORY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT</a>
            </li>
          </ul>
          <form class="d-flex justify-content-center">
            <button class="btn main-btn btn-edit-home" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              SUPPORT US
            </button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <!-- Navbar section exit -->

  <!-- Banner section -->
  <section class="container-fluid bg-skin">
    <div class="row py-3">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="title-box text-center">
          <!-- <h6 class="fs-6 text-black">Quando un titolo è ciò che serve</h6> -->
          <h1 class="fs-3 fw-bold text-brown">“One of the things that lie at the core of humanity is our ability to
            network, collaborate and come together for a common purpose bigger than ourselves.”
          </h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner section exit -->

  <section class="parent-section-ourapproach">
    <!-- section 2-->
    <section class="container-fluid m-2 margin-zero">
      <div class="row justify-content-between align-items-center">
        <div class="col-2"></div>
        <div class="col-md-4 col-sm-12 pt-md-0 pt-4">
          <!-- <h6 class="text-red">Missing title </h6> -->
          <h3 class="fw-bold">Working Together</h3>
          <p class="text-black">When the journey of Saathi began, we were running primarily on a voluntary basis. But as
            the years passed, we grew and started working on different issues on a larger level and understood that a
            bigger wave of change is necessary. In our journey toward our goals, we met many people and organisations
            who left a lasting impression on our work.
          </p>
          <p class="text-black">We nurtured partnerships with different communities and organisations that worked on the
            similar goal of bettering the lives of the vulnerable community. Saathi has partnered with various
            organisation some has provided financial requirement whereas some helped with technical and
            knowledge-building exercise.
          </p>
        </div>
        <div class="col-md-5 col-sm-12 text-center pe-lg-3">
          {{!-- <a href="/gallery"> --}}
          <img src="/img/website photos share/website photos/working together.JPG" alt="" class="img-fluid">
          {{!-- </a> --}}
        </div>
        <div class="col-1"></div>
      </div>
    </section>
    <!-- section 2 -->

    <!-- section 3 -->
    <!-- <section class="container-fluid m-2 margin-zero" id="partnerships-network-partners">
      <div class="row justify-content-between align-items-center">
        <div class="col-2"></div>
        <div class="col-md-5 col-sm-12 text-center pe-lg-3">
          <img src="./img/third.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-4 col-sm-12 pt-md-0 pt-4"> -->
    <!-- <h6 class="text-red">Missing title </h6> -->
    <!-- <h3 class="fw-bold">Partnerships</h3>
          <p class="text-black">Saathi has partnered with various organisation some has provided financial requirement whereas some helped with technical and knowledge-building exercise.  like the Department of Science and Technology, Council for Advancement of People’s Action and Rural Technology (CAPART), Khadi Village Industries Commission (KVIC) and the Handicrafts Board.</p> -->
    <!-- <p class="text-black">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
            quasi.</p> -->
    <!-- </div>
        <div class="col-1"></div>
      </div>
    </section> -->
    <!-- section 3 -->


    <!-- section 4 -->

    <section class="see-our-projects-section" style="margin-top: 2rem;">
      <a href="#" class="btn custom-btn ">SEE OUR PROJECTS</a>
    </section>
  </section>
  <!-- section 4 -->

  <!-- section 5 -->
  <!-- <section class="container-fluid bg-skin">
    <div class="row pt-3">
      <div class="col-lg-12">
        <div class="title-box text-center">
          <h6 class="fs-6 text-brown">Tittolo titolo titolo</h6>
          <h1 class="fs-3 fw-bold">In few words and numbers</h1>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h1 class="fs-3 fw-bold">United Nations Children's Fund - UNICEF</h1>
          </div>
          <div class="col-lg-6 col-sm-12">
            <h6 class="fs-6">
              With the United Nations Children’s Fund (UNICEF), we’ve been constantly working to improve the health and nutrition of vulnerable communities in rural areas. One of our key missions was a reduction in infant mortality rates and maternal mortality rates. One of our other measures was the development of child-friendly Aanganwadi and we even developed three of them at Kondagaon, Makadi and Raipur. We’ve also been partnering with them since May 2012 on Health and Nutrition outreach projects in the villages affected by Naxalism, like the Narayanpur block in Bastar.
            </h6>
          </div>
        </div>

        <div class="vertical-line" style="height: 5px;"></div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h1 class="fs-3 fw-bold">United Nations Development Programme - UNDP</h1>
          </div>
          <div class="col-lg-6 col-sm-12">
            <h6 class="fs-6">
              We’re a part of a joint project- Endogenous Tourism Project- by GOI & UNDP that seeks to promote local culture and craft & create sustainable livelihoods and generate more employment opportunities for rural communities. It’s a tourism model that is owned and driven by the community. From craft and culture to assisting tourists with homestays, guiding services & hospitality, we’ve been working to create more avenues for empowering the people of Bastar in the tourism sector.
            </h6>
          </div>
        </div>
        <div class="vertical-line" style="height: 5px;"></div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h1 class="fs-3 fw-bold">IIT Delhi & IIT Mumbai </h1>
          </div>
          <div class="col-lg-6 col-sm-12">
            <h6 class="fs-6">
              We cultivated partnerships with educational institutes like the Indian Institute of Technology (Delhi & Mumbai) for a range of developmental projects aimed at developing appropriate technology for the craft. For potters, we co-developed the fuel-efficient ‘Tat trap kiln’, a gas-fired furnace for metal and blacksmiths, and we introduced charcoal production furnaces.
            </h6>
          </div>
        </div>
        <div class="vertical-line" style="height: 5px;"></div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h1 class="fs-3 fw-bold">National Mineral Development Corporation</h1>
          </div>
          <div class="col-lg-6 col-sm-12">
            <h6 class="fs-6">
              We, at Saathi, had also been assisting National Mineral Development Corporation, Bacheli, and Kirundal Dantewada District, Chhattisgarh in implementing their Corporate Social Responsibility objectives. As a part of CSR, we trained rural tribal uneducated youth, both men and women in various craft-based skills like bell-metal, terracotta, bamboo, jute and sisal.
            </h6>
          </div>
        </div>
        <div class="vertical-line" style="height: 5px;"></div>
      </div>
    </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h1 class="fs-3 fw-bold">National Council of Rural Institutes</h1>
          </div>
          <div class="col-lg-6 col-sm-12">
            <h6 class="fs-6">
              In our pursuit to provide training to the rural artisans of Bastar, we’ve developed ‘Vishwakarma Gurukul’ that’s financially supported by the National Council of Rural Institutes. With our persistent efforts and the unwavering financial support of the NCRI, we’ve been able to train around 500 artisans and intend to train around 4000-5000 rural artisans and youth in another 7-8 years.
            </h6>
          </div>
        </div>
        <div class="vertical-line" style="height: 5px;"></div>
      </div>
    </div> -->
  <div class="container-logo-section">
    <h2>FUNDERS / DONORS</h2>
    <section class="customer-logos slider">
      <div class="slide"><img src="/img/logos/undp-logo-blue.jpg"></div>
      <div class="slide"><img src="/img/logos/UNICEF_logo_PNG4-1.png"></div>
      <div class="slide"><img src="/img/logos/OX_VL_C_RGB.png"></div>
      <div class="slide"><img src="/img/logos/no-png_logo--full.gif"></div>
      <div class="slide"><img src="/img/logos/nmdc.png"></div>
      <div class="slide"><img src="/img/logos/KVIC-Logo.png"></div>
      <div class="slide"><img src="/img/logos/ncri.jpg"></div>
      <div class="slide"><img src="/img/logos/Child-Line-Color.png"></div>
      <div class="slide"><img src="/img/logos/Development_Commissioner_of_Handicrafts_Logo.png"></div>
    </section>
  </div>
  <div class="container-logo-section">
    <h2>NETWORK PARTNERS</h2>
    <section class="customer-logos slider">
      <div class="slide"><img src="/img/logos/craft council of india.jpeg"></div>
      <div class="slide"><img src="/img/logos/dastkari haat samiti.png"></div>
      {{!-- <div class="slide"><img src="/img/logos/OX_VL_C_RGB.png">
        <h5>KARIGAR PANCHAYAT</h5>
      </div> --}}
      <div class="slide"><img src="/img/logos/Sasha_Logo.svg"></div>
      <div class="slide"><img src="/img/logos/altra-qualita_8585.jpg"></div>
    </section>
  </div>
  <div class="container-logo-section">
    <h2>COLLABORATIVE PARTNERS</h2>
    <section class="customer-logos slider">
      <div class="slide"><img src="/img/logos/sevagram ashram.jpg"></div>
      <div class="slide"><img src="/img/logos/Gramodaya_Logo_LS_50.jpg"></div>
      <div class="slide"><img src="/img/logos/iicd.png"></div>
      <div class="slide"><img src="/img/logos/Institute_of_Rural_Management_Anand_Logo.svg.png"></div>
      <div class="slide"><img src="/img/logos/azimpremji.jpg"></div>
      <div class="slide"><img src="/img/logos/1280px-National_Institute_of_Design_logo.svg.png"></div>
      <div class="slide"><img src="/img/logos/Keizersgracht_609,_Amsterdam.JPG"></div>
      <div class="slide"><img
          src="/img/logos/mevw_rietveld_openday_lr-171067051.jpg()(29F59D592D8AC37621CB8580EB5476F8).jpg"></div>
    </section>
  </div>
  <!-- <div class="statistics-numbers-parent">
      <div class="years-stats stats-common">
        <div class="title-stats fs-2">
          30+
        </div>
        <div class="verticalLine"></div>
        <div class="title-description fs-6">
          Years of Activities
        </div>
      </div>
      <div class="projects-stats stats-common">
        <div class="title-stats fs-2">
          500+
        </div>
        <div class="verticalLine"></div>
        <div class="title-description fs-6">
          Projects Completed
        </div>
      </div>
      <div class="people-aided-stats stats-common">
        <div class="title-stats fs-2">
          75+
        </div>
        <div class="verticalLine"></div>
        <div class="title-description fs-6">
          Rural People Directly Helped
        </div>
      </div>
      <div class="another-quote-stats stats-common">
        <div class="title-stats fs-2">
          36
        </div>
        <div class="verticalLine"></div>
        <div class="title-description fs-6">
          Another Quote
        </div>
      </div>
    </div> -->
  </section>
  <!-- section 5 -->


  <!-- Footer section -->
  <section id="contact" class="footer_wrapper bg-light-skin" style="margin-top: 1.5rem;">

    <div class="container-fluid block_newsletter">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="ps-1 mb-4">
            <p class="d-flex pt-3">
              <a href="https://www.facebook.com/saathikondagaon" class="footer_social_media_icon"><i
                  class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/saathibastar/" class="footer_social_media_icon"><i
                  class="fab fa-instagram"></i></a>
              <a href="https://www.linkedin.com/company/saathi-samaj-sevi-sanstha/about/"
                class="footer_social_media_icon"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://twitter.com/saathibastar" class="footer_social_media_icon"><i
                  class="fab fa-twitter"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row pt-5">

        <div class="col-lg-3 mb-4 mb-lg-0">
          <img class="w-50 d-none d-lg-block" src="img/Saathi_logo.png" />
          <img class="w-25 d-lg-none d-md-block" src="img/Saathi_logo.png" />
        </div>

        <div class="col-lg-3 ps-lg-5 mb-4 mb-lg-0">
          <h5 class="fs-5 font-bolder text-red">INFO</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/about">About Us</a>
            </li>
            <li>
              <a href="/ourApproach">Our Approach</a>
            </li>
            <li>
              <a href="/network&Partner">Network & Partners</a>
            </li>
            <!-- -------BASTAR PAGE CHALU KRNA RAHEGA BAAD MEI---- -->
            <!-- <li>
            <a href="/bastar">Bastar</a>
          </li> -->
            <li>
              <a href="/annualreports">Annual Reports</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 ps-lg-5 mb-4 mb-lg-0">
          <h5 class="font-bolder text-red">PROJECTS</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/ourProjects">Education</a>
            </li>
            <li>
              <a href="/ourProjects">Craft & Rural Tourism</a>
            </li>
            <li>
              <a href="/ourProjects">Livelihood</a>
            </li>
            <li>
              <a href="/ourProjects">Health & Nutrition</a>
            </li>
            <li>
              <a href="/ourProjects">People’s Rights & Empowerment</a>
            </li>
            <li>
              <a href="/ourProjects">Governance & Policy Advocacy</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 ps-lg-5 mb-4 mb-lg-0">
          <h5 class="font-bolder text-red">GET INVOLVED</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/contact" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Support us</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>

        <div class="col-12 text-left pt-1 border-top" style="border-color: #726f6f">
          <p style="color: #646161">
            © 2022,
            <a href="#" target="_blank" title="" class="fs-6 text-decoration-none" style="color: #646161">
              all rights reserved, Saathi Samaj Sevi Sanstha - REG. N.
              0123456789  &amp; <span><a href="https://www.innogative.in" id="innogative-footer"> Designed by Innogative</a></span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer section exit -->
  {{>support}}
  <!-- Bootstrap 5 JS CDN Links -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

  <!-- Custom Js Link -->
  <script src="js/main.js"></script>
  <script src="/js/logo-slider.js"></script>
</body>

</html>