<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Support Us</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card w-100">
          <img src="/img/Website Photos/Bastar Image/AM0_9227.JPG" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="modal-footer">
        <p class="text-black">Donate To US!
        </p>
      </div>
    </div>
  </div>
</div>